#file__upload {
  display: none;
}

.file__upload-label {
  background-color: black;
  color: white;
  cursor: pointer;
}

.small {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.7rem;
}

.medium {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.large {
  padding: 1.2rem 2.8rem;
  border-radius: 2.5rem;
  font-size: 1.2rem;
}
