@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }
}
