.shopby__category {
  padding: 3rem 5%;
  background-color: rgb(248, 248, 248);

}

.shopby__category-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.category__collection {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

